<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40">
        <div fxFlex *ngIf="dish">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
                    <mat-card-title>{{dish.name | uppercase}}</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.image}}">
                <mat-card-content>
                    <p>
                        {{dish.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishDetail', prev]"><span
                            class="fa fa-chevron-left fa-lg"></span></button>
                    <button mat-button (click)="goBack()">Back</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <button mat-button (click)="nextClicked()" [routerLink]="['/dishDetail', next]"><span
                            class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div [hidden]="dish">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>
    </div>

    <div fxFlex="40">
        <h1>Comments</h1>
        <hr>

        <mat-list *ngIf="dish">
            <mat-list-item *ngFor="let c of dish.comments">
                <p mat-line>{{ c.comment }}</p> <br>
                <p mat-line>{{ c.rating }} Stars</p> <br>
                <p mat-line>-- {{ c.author }} {{c.date | date}}</p> <br>
                <mat-divider></mat-divider>
            </mat-list-item>
            <br>
            <mat-list-item *ngIf="commentForm.valid">
                <p mat-line>{{ commentForm.value.comment }}</p> <br>
                <p mat-line>{{ commentForm.value.rating }} Stars</p> <br>
                <p mat-line>-- {{ commentForm.value.author }}</p> <br>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>

        <div [hidden]="dish">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>

        <div id="comment_Form">
            <h1>Submit Comment</h1>
            <form #cform="ngForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()" novalidate>
                <p>
                    <mat-form-field class="fullWidth">
                        <mat-label>Author</mat-label>
                        <input formControlName="author" matInput placeholder="Author">
                        <mat-error *ngIf="commentFormError.author">{{commentFormError.author}}
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-label>Rating</mat-label>
                    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" formControlName="rating" [vertical]="vertical">
                    </mat-slider>
                </p>
                <p>
                    <mat-form-field class="fullWidth">
                        <mat-label>Comment</mat-label>
                        <textarea formControlName="comment" matInput placeholder="Comment" rows="4" cols="50"></textarea>
                        <mat-error *ngIf="commentFormError.comment">{{commentFormError.comment}}
                        </mat-error>
                    </mat-form-field>
                </p>
                <button type="submit" [disabled]="commentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
            </form><br>
        </div>


    </div>

</div>