<div class="container" fxLayout="column" fxLayout.sm="row" fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>About Us</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="70">
                <h2>Our History</h2>
                <p>Started in 2020, Developer's Restaurant quickly established itself as a culinary icon par excellence in Dhaka. With its unique brand of world foods that can be found nowhere else, it enjoys patronage from the A-list clientele in Dhaka.
                    Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Sk Samiur Rahman that featured for the first time the world's best cuisines in a pan.
                </p>
            </div>
            <div fxFlex="30">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Facts At a Glance</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <dl>
                            <dt>Started</dt>
                            <dd>3 Feb. 2020</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>HK Fine Foods Inc.</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$1,250,375</dd>
                            <dt>Employees</dt>
                            <dd>40</dd>
                        </dl>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex>
        <mat-card>
            <blockquote>
                <h3>You better cut the pizza in four pieces because I'm not hungry enough to eat six.</h3>
                <footer>-- Yogi Berra,
                    <cite>The Wit and Wisdom of SSR,
                        Diversion Books, 2020</cite>
                </footer>
            </blockquote>
        </mat-card>
    </div>


    <div fxFlex *ngIf="leaders" [@expand]>
        <h2>Corporate Leadership</h2>
        <mat-list>
            <mat-list-item *ngFor="let l of leaders">
                <img matListAvatar src="{{BaseURL + l.image}}" alt="image">
                <h3 matLine> {{l.name}}&nbsp;&nbsp;{{ l.abbr}} </h3>
                <p matLine>
                    <span> {{l.designation}} </span>
                    <span class="demo-2"> {{l.description}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>

    <div [hidden]="leaders" [@expand]>
        <mat-spinner></mat-spinner>
        <h4 *ngIf="!errorMSG">Loading . . . Please Wait</h4>
        <h4 *ngIf="errorMSG">{{errorMSG}}</h4>
    </div>
</div>