<!-- <mat-toolbar color="primary">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p style="visibility: hidden;">{{user | json }}</p>

<form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div fxLayoutAlign="space-around center">
        <mat-dialog-content>
            <p>
                <mat-form-field>
                    <input #username="ngModel" matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
                    <mat-error *ngIf="username.errors?.required">Username can't be null</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input #password="ngModel" matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
                    <mat-error *ngIf="password.errors?.required">Password can't be null</mat-error>
                </mat-form-field><br>
                <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
            </p>
        </mat-dialog-content>

    </div>
    <a [routerLink]="" (click)="goToRegisterPage()" style="font-size: 15px;"><i>Not Registered Yet?</i></a>
    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-button class="background-primary text-floral-white" [ngClass]="{'customclass': loginForm.form.invalid}" [disabled]="loginForm.form.invalid">Login</button>
    </mat-dialog-actions>

</form> -->

<body>
    <!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>

            <form class="example-form" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Username"> -->
                        <input #username="ngModel" matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
                        <mat-error *ngIf="username.errors?.required">Username can't be null</mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Password"> -->
                        <input #password="ngModel" matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
                        <mat-error *ngIf="password.errors?.required">Password can't be null</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="loginForm.form.invalid">Log in</button>
            </form>
        </mat-card>

    </div>
    <!-- </div> -->
</body>