<app-account-header></app-account-header>

<body class="center">
    <h1>Reset</h1>
    <p><b>If we find your email in your database then we will send an email with reset password link</b></p>

    <div class="center">

        <form [formGroup]="userDetailsForm" fxLayout="column">

            <div fxLayout="column" fxLayoutAlign="center">

                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field fxFlex="50">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Email">
                        <mat-error *ngIf="userDetailsForm.controls.email?.errors && userDetailsForm.controls.email?.touched">
                            Please enter a valid Email Address
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" fxLayoutAlign="center">

                    <div fxLayout="row" fxLayoutAlign="center">
                        <button [disabled]="disableButton" color="primary" mat-raised-button style="max-height: 42px;" (click)="submit()">Reset Account</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</body>