<mat-toolbar color="primary">
    <span><img src="/assets/images/logo.png" height=30 width=41></span>
    <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink='/about' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink='/menu' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button routerLink='/contact' routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button *ngIf='!isLoggedIn' (click)="openLoginForm()"><span class="fa fa-user fa-lg"></span>Login</a>

    <span><img [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" *ngIf='isLoggedIn' class="mat-card-avatar" src="{{BaseURL + user.image}}" alt="image" appHighlite></span>
    <mat-menu class="bccolor" #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="undoDropProfileDetails()">

          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span>Account</span>
        </button>
        <!-- <button mat-menu-item>
            <mat-icon>people_outline</mat-icon>
            <span>Connecting</span>
          </button>
        <button mat-menu-item>
            <mat-icon>videocam</mat-icon>
            <span>Let's talk</span>
          </button> -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>

        </span>
    </mat-menu>



</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Developer's Restaurant</h1>
        <p>We take inspiration from the World's best cuisines, and create a unique food experience. Our lipsmacking creations will tickle your culinary senses!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/logo.png" alt="Logo" height="180x">
    </div>
    <div fxFlex></div>
</div>