.profile-picture {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-image: url(/assets/profile-placeholder.png);
    background-size: contain;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.profile-picture img {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.profile-picture label {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.profile-picture .drag-over .infotext {
    color: white;
    border: dashed 5px white;
    display: flex;
    justify-content: center;
}

.profile-picture .infotext {
    // margin-left: 5px;
    // margin-top: 5px;
    // height: 190px;
    width: 290px;
    vertical-align: middle;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border: dashed 3px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-top: 110px;
    font-size: 150%;
    display: flex;
    justify-content: center;
}

// html,
// body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
body {
    background-image: url(../../../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: blue !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
    ;
}